# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Android & Decompiled Files
*.apk
*.jar
*.keystore
debug.keystore
*_patched_src/
apk_decoded/
*.idsig
*.png
classes*.dex

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
